# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE settings
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.DS_Store
